<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{/*  <link rel="stylesheet" href="{{ .Site.BaseURL | relURL }}/css/bootstrap/bootstrap-grid.css" type="text/css" media="all" />  */}}
<link rel="stylesheet" href="{{ .Site.BaseURL | relURL }}/css/terminal/terminal.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ .Site.BaseURL | relURL }}/css/sheru.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ .Site.BaseURL | relURL }}/css/vars.css" type="text/css" media="all" />
<title>{{ .Title }}</title>
